aside.sidebar {
  position: fixed;
  overflow: hidden;
  width: 400px;
  height: 100vh;
  background: black;
}

aside.sidebar h2 {
  text-align: center;
  font-size: 1.8rem;
  color: white;
  background: grey;
  margin: 0;
  padding: 10px;
}
